# Tastytrade OAuth2, preferred
TT_CLIENT_ID=
TT_SECRET=
TT_REFRESH=

# Optional fallback when OAuth is not available and 2FA is disabled
TASTYTRADE_USERNAME=
TASTYTRADE_PASSWORD=

# production or sandbox
TASTYTRADE_ENVIRONMENT=production
